<?php namespace Dotink\Lab {

	return [

		//
		// This defines a relative or absolute path to our tests directory containing our
		// test files
		//

		'tests_directory' => 'test/routines',

		//
		// By default we disable autoloading.  The prevents us from loading and depending on any
		// classes by accident forcing us to purposefully include them or mock them
		//

		'disable_autoloading' => FALSE,

		//
		// By default we will enable code coverage.  You can disable it if you want to make
		// tests run faster.  If you do not have xdebug, code coverage will be disabled
		// anyway.
		//

		'disable_code_coverage' => FALSE,

		//
		// The global 'setup' key can contain a closure to run fixture logic at the beginning of
		// every
		//

		'setup' => function($data, $shared) {

			//
			// If you require parody in your project, you can load it by uncommenting here.
			// Note that you may need to tweak the vendor dir.
			//
			//
			// needs($data['root'] . '/vendor/dotink/parody/src/Load.php');
			//
		},

		//
		// The global 'cleanup' key can contain a closure to run fixture cleanup logic at the end
		// of every test file
		//

		'cleanup' => function($data, $shared) {

		},

		//
		// Arbitrary values can be specified, all 'setup' and 'cleanup' functions (global) and per
		// test file are given the $data array as a first parameter.
		//

		'data' => [
			'root' => realpath(__DIR__)
		]
	];
}
